/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* input field */
.input-field-container {
  padding: 1em 5em;
}
.input-field {
  margin: 10px 0;
}
.input-field p {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* input field buttons */
.input-button-container {
  display: flex;
}
.input-button-container button {
  flex: 1;
  margin: 0em 5em;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.input-button-container button:hover {
  background-color: lightblue;
  cursor: pointer;
}
